.mat-sidenav-container{
  height:calc(205vh - 115vh) ;
}
mat-sidenav{
  width: 200px;
  background-color: #ffffff;
  text-decoration: #ffffff;
}

mat-sidenav-content{
  margin: 20px;
}

.composant{
  position: relative;
  top: 10%;
  left: 16%;
  width: 400px;
  display: flex;
  justify-content: right;
}
/* Personnalisation de la couleur de la barre d'outils */
mat-toolbar.mat-toolbar {
  background-color: #FFB6C1; /* Couleur rose bébé */
}
.custom-toolbar {
  background-color: #FFB6C1; /* Couleur rose bébé */
}
/* Personnaliser le bouton de base */
.custom-button-base {
  background-color: #FFB6C1; /* Couleur rose bébé */
  color: white; /* Couleur du texte */
}

/* Personnaliser le bouton de déconnexion */
.custom-button-logout {
  background-color: #FFB6C1; /* Couleur rose bébé */
  color: white; /* Couleur du texte */
}

/* Vous pouvez ajouter des styles supplémentaires pour les états hover, focus, etc. */
.custom-button-base:hover, .custom-button-logout:hover {
  background-color: #FFC2D2; /* Une teinte légèrement plus claire pour l'état hover */
}
