<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon> Assignments </button>
    <h1></h1>
   <a routerLink="/home"><button mat-button color="accent"><mat-icon>home</mat-icon> Home </button></a>
    <h1></h1>

   <a *ngIf="isLoggedIn(); else nonconnecte" mat-button  >
     Vous êtes  connecté en tant que
     <a *ngIf="isAdmin() ; else  nonadmin ">
       admin
     </a>
     <ng-template #nonadmin>
       <a> User</a>
     </ng-template>
   </a>
    <ng-template #nonconnecte>
     <a> Vous n'êtes pas connecté</a>&nbsp;
    </ng-template>
    &nbsp;
    <button mat-flat-button color="primary" (click)="initialser()" >Peupler ma base </button>
    <div class="composant">
      <a *ngIf="isLoggedIn(); else login" mat-button (click)="logout()" > <button mat-button color="accent"  > <mat-icon>logout</mat-icon> Deconnexion </button> </a>
      <ng-template #login>
        <app-login></app-login>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)] = "opened" mode="push">
    <mat-list>
      <mat-list-item>   <a routerLink="/home" style="text-decoration: none;" > Home</a> </mat-list-item>
      <mat-list-item>    <a style="text-decoration: none;" routerLink="/detail"> Liste des devoirs</a> </mat-list-item>
      <mat-list-item>    <a style="text-decoration: none;" > Ajout d'un devoir</a> </mat-list-item>
      <mat-list-item>    <a style="text-decoration: none;" routerLink="/Modification"> Modification d'un devoir</a> </mat-list-item>
      <mat-list-item>    <a style="text-decoration: none;" routerLink="/suppression"> Suppression d'un devoir</a> </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

