
  <main *ngIf="!formVisible">
    <button   routerLink="/add" [disabled]="!isLoggedIn()" id="button_ajout" mat-flat-button color="accent">Ajouter Devoir</button>
  </main>
<p>{{nomDevoir}}</p>
  <p>NB Total d'assignments : {{totalDocs}}</p>
  <p>Total de page : {{totalPages}}</p>
  <p>NB Assignment par page: 1 <input type="range" min=1 max=100 (change)="getAssignements()"  [(ngModel)]="limit"> {{limit}} </p>
  <div class="">
    <button mat-raised-button color="primary"(click)="pagePremiere()"[disabled]="page===1">Premiére</button>&nbsp;
    <button mat-raised-button color="primary" (click)="pagePrecdent()" [disabled]="!hasPrevPage">Precedent</button>&nbsp;
    <button mat-raised-button color="primary" (click)="pageSuivant()"[disabled]="!hasNextPage">Suivant</button>&nbsp;
    <button mat-raised-button color="primary"(click)="pageDerniere()" [disabled]="page===totalPages">Derniére</button>&nbsp;
  </div>
  <!--
    <mat-list *ngFor=" let assignment of assignemets">
      <nav><a routerLink="/assignement/{{assignment.id}}">

        <h3 mat-subheader>Date de Rendu :{{assignment.dateDeRendu | date}} </h3>
          <mat-list-item (click)="assignmentClique(assignment)">
          <p appRendu *ngIf="assignment.rendu; else nonsoumis">
            Devoir intitule {{assignment.nom}} a ete rendru .
          </p>
          <ng-template #nonsoumis>
            <p>les devoir {{assignment.nom}} n a pas rendu </p>
            </ng-template>
            <mat-divider></mat-divider>
          </mat-list-item>
    </a></nav>
  </mat-list>
  -->

  <table mat-table [dataSource]="assignemets" class="mat-elevation-z8 demo-table" matSort>
    <!-- Position id -->
    <ng-container matColumnDef="demo-id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- nom Column -->
    <ng-container matColumnDef="demo-nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par Nom"> Nom Assignement   </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
    <!-- auteur Column -->
    <ng-container matColumnDef="demo-auteur">
      <th mat-header-cell *matHeaderCellDef > Auteur   </th>
      <td mat-cell *matCellDef="let element"> {{element.auteur}} </td>
    </ng-container>
    <!-- photoprof Column -->
    <ng-container matColumnDef="demo-prof">
      <th mat-header-cell *matHeaderCellDef > photo du professeur   </th>
      <td mat-cell *matCellDef="let element"> <img [src]="element.photoprof"> </td>
    </ng-container>
    <!-- nommatiere Column -->
    <ng-container matColumnDef="demo-matiere">
      <th mat-header-cell *matHeaderCellDef > Cours   </th>
      <td mat-cell *matCellDef="let element"> {{element.nommatiere}} </td>
    </ng-container>
    <!-- photomatiere Column -->
    <ng-container matColumnDef="demo-photomat">
      <th mat-header-cell *matHeaderCellDef > Photo Cours   </th>
      <td mat-cell *matCellDef="let element">  <img [src]="element.photomatiere"> </td>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="demo-dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date De rendu  </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu|date}} </td>
    </ng-container>
    <!-- rendu Column -->
    <ng-container matColumnDef="demo-rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
    </ng-container>
    <!-- notematiere Column -->
    <ng-container matColumnDef="demo-notematiere">
      <th mat-header-cell *matHeaderCellDef > Note   </th>
      <td mat-cell *matCellDef="let element"> {{element.notematiere}} </td>
    </ng-container>
    <!-- remarque Column -->
    <ng-container matColumnDef="demo-remarque">
      <th mat-header-cell *matHeaderCellDef > remarque   </th>
      <td mat-cell *matCellDef="let element">{{element.remarque}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
    <tr   routerLink="/assignement/{{row.id}}" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <!--
    <app-component-detail *ngIf="!formVisible" [assignementTransmis]="assignmentSelection" (suppAssignment)="OnsuppAssignment($event)" ></app-component-detail>
    -->

  <!--
    <app-add-assignement *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)" >
    </app-add-assignement>
-->
