.rendu
{
  color: green;
}
.nonRendu
{
  color: red;
}
#button_ajout,#button_supp,#button_supp2{

  margin-top: 10px;
  position: absolute;
  right: 0;
  width: 120px;
  transform: translateY(-50%);



}
.demo-table {
  margin-top: 10px;
  width: 100%;

}
.table{
  display: flex;
  justify-content: center;
}

.mat-column-demo-id {
  width: 32px;
    padding-right: 24px;
  text-align: center;
}

.mat-column-demo-auteur {
  padding-left: 16px;
  font-size: 15px;
}

.mat-column-demo-dateDeRendu {
  font-style: italic;
}

.mat-column-demo-rendu{

  text-align: center;
  font-weight: bold;
}

td{
  cursor: pointer;
}
img{
  width: 30px;
  height: 30px;
  position: relative;

}

.assignmentInfo{
  padding-left: 2%;
}


